
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Formulario de cambios y cancelaciones</title>
	<link rel="stylesheet" type="text/css" href="../views/formularios.css">
	
</head>

	<body>
	
	<div class="contenedor4">
		<!-- Al enviar el formulario de contacto salta esta ventana que da las gracias por mandarlo -->
		<h3> ¡Muchas gracias por contactar con nosotros! </h3>
	
			<p> Formulario mandado con éxito. En breve recibirá una respuesta de nuestro soporte técnico. </p>
	
		<a href="../views/index.php">Volver al inicio</a> <!-- Vuelve al inicio de la página -->
	
	</div>
	
	</body>
	
</html>