<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Acerca de</title>
	<link rel="stylesheet" type="text/css" href="../views/formularios.css">
	
</head>

	<body>
	
	<div class="contenedor5">
	
	<!-- Página de información sobre mi misma, la persona que realizó este proyecto -->
		<h1> Acerca de </h1>
	
			<h3> "Esta aplicación web de una tienda online de juegos de mesa, es un proyecto fin de curso para demostrar los conocimientos adquiridos 
				a lo largo de estos dos años". </h3>
	
		<p> Alumna: Virginia Benzo López </p>
		<p> Curso: 2s2324 </p>
		<p> CFGS de Desarrollo de Aplicaciones Web </p>
		
		<h3> ¡Muchas gracias por leer! </h3>
		
		<a href="../views/index.php">Volver al inicio</a>
	
	</div>
	</body>
	
</html>