<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Galeria de Productos</title>
		
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">	
	<link rel="stylesheet" type="text/css" href="productos.css">

</head>

	<body>
	<!-- Aquí están los enlaces de la galeria de juegos, cada producto por su id de producto e imagen de archivo-->
		<div class="gallery">
		<!-- Cada producto individual de la galeria por eso se repite cada uno con sus detalles que se ven en las tarjetas -->
			<div class="content">
				<a href="../views/productoUnitario.html?id_producto=1">
				<img src="../img/boardgames/catan00.jpg">
				</a>
				<h3>Colonos de Catán</h3>
				<p> Juego de tablero de estrategia </p>
				<h6>30.99€</h6>
				<ul>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star"></i></li>
				</ul>
				<button class="buy-1">Cómpralo</button>
			</div>
			
			<div class="content">
				<a href="../views/productoUnitario.html?id_producto=2">
				<img src="../img/boardgames/aventureros00.jpg">
				</a>
				<h3>Aventureros al Tren</h3>
				<p> Juego de mesa de aventura con trenes </p>
				<h6>35.50€</h6>
				<ul>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
				</ul>
				<button class="buy-2">Cómpralo</button>
			</div>
			
			<div class="content">
				<a href="../views/productoUnitario.html?id_producto=3">
				<img src="../img/boardgames/pandemic00.jpg">
				</a>
				<h3>Pandemic</h3>
				<p> Juego de mesa cooperativo</p>
				<h6>29.99€</h6>
				<ul>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star"></i></li>
				</ul>
				<button class="buy-3">Cómpralo</button>
			</div>
	
		<div class="content">
				<a href="../views/productoUnitario.html?id_producto=4">
				<img src="../img/boardgames/risk00.jpg">
				</a>
				<h3>Risk</h3>
				<p> Juego de mesa de estrategia de guerra </p>
				<h6>24.75€</h6>
				<ul>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
				</ul>
				<button class="buy-4">Cómpralo</button>
			</div>
			
		<div class="content">
				<a href="../views/productoUnitario.html?id_producto=5">
				<img src="../img/boardgames/scrabble00.jpg">
				</a>
				<h3>Scrabble</h3>
				<p> El famoso juego de mesa de hacer palabras para dos personas </p>
				<h6>19.99€</h6>
				<ul>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
				</ul>
				<button class="buy-5">Cómpralo</button>
			</div>
			
		<div class="content">
				<a href="../views/productoUnitario.html?id_producto=6">
				<img src="../img/boardgames/dominion00.jpg">
				</a>
				<h3>Dominion</h3>
				<p> Juego de mesa de construcción de mazos de cartas. De 2 a 4 jugadores </p>
				<h6>34.99€</h6>
				<ul>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star"></i></li>
				</ul>
				<button class="buy-6">Cómpralo</button>
			</div>
			
		<div class="content">
				<a href="../views/productoUnitario.html?id_producto=7">
				<img src="../img/boardgames/carcassonne00.jpg">
				</a>
				<h3>Carcassonne</h3>
				<p> Juego de mesa de colocación de losetas que consiste en crear un mapa de juego </p>
				<h6>27.50€</h6>
				<ul>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star"></i></li>
					<li><i class="fa fa-star"></i></li>
				</ul>
				<button class="buy-7">Cómpralo</button>
			</div>
		
		
		<div class="content">
				<a href="../views/productoUnitario.html?id_producto=8">
				<img src="../img/boardgames/puertorico00.jpg">
				</a>
				<h3>Puerto Rico</h3>
				<p> Juego de mesa de estrategia económica en el que los jugadores deben conseguir mercancias </p>
				<h6>39.95€</h6>
				<ul>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
				</ul>
				<button class="buy-8">Cómpralo</button>
			</div>
			
		
		<div class="content">
				<a href="../views/productoUnitario.html?id_producto=9">
				<img src="../img/boardgames/7wonders00.jpg">
				</a>
				<h3>7 Wonders</h3>
				<p> Juego de mesa de civilizaciones </p>
				<h6>31.75€</h6>
				<ul>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star"></i></li>
				</ul>
				<button class="buy-9">Cómpralo</button>
			</div>
		
		<div class="content">
				<a href="../views/productoUnitario.html?id_producto=10">
				<img src="../img/boardgames/agricola00.jpg">
				</a>
				<h3>Agricola</h3>
				<p> Juego de mesa de agricultura </p>
				<h6>37.99€</h6>
				<ul>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
				</ul>
				<button class="buy-10">Cómpralo</button>
			</div>
		
		<div class="content">
				<a href="../views/productoUnitario.html?id_producto=11">
				<img src="../img/boardgames/twilight00.jpg">
				</a>
				<h3>Twilight Struggle</h3>
				<p> Juego de mesa de simulación de la Guerra Fría </p>
				<h6>45.00€</h6>
				<ul>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star"></i></li>
					<li><i class="fa fa-star"></i></li>
				</ul>
				<button class="buy-11">Cómpralo</button>
			</div>
			
		<div class="content">
				<a href="../views/productoUnitario.html?id_producto=12">
				<img src="../img/boardgames/codenames00.jpg">
				</a>
				<h3>Codenames</h3>
				<p> Juego de mesa de palabras y deducción </p>
				<h6>20.50€</h6>
				<ul>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star"></i></li>
				</ul>
				<button class="buy-12">Cómpralo</button>
			</div>
		
		<div class="content">
				<a href="../views/productoUnitario.html?id_producto=13">
				<img src="../img/boardgames/terraforming00.jpg">
				</a>
				<h3>Terraforming Mars</h3>
				<p> Juego de mesa de gestión de recursos </p>
				<h6>42.25€</h6>
				<ul>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
				</ul>
				<button class="buy-13">Cómpralo</button>
			</div>
		
		<div class="content">
				<a href="../views/productoUnitario.html?id_producto=14">
				<img src="../img/boardgames/splendor00.jpg">
				</a>
				<h3>Splendor</h3>
				<p> Juego de mesa de estrategia </p>
				<h6>28.99€</h6>
				<ul>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star"></i></li>
				</ul>
				<button class="buy-14">Cómpralo</button>
			</div>
		
		<div class="content">
				<a href="../views/productoUnitario.html?id_producto=15">
				<img src="../img/boardgames/dead00.jpg">
				</a>
				<h3>Dead of Winter</h3>
				<p> Juego de mesa de supervivencia y traición </p>
				<h6>36.75€</h6>
				<ul>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star"></i></li>
					<li><i class="fa fa-star"></i></li>
				</ul>
				<button class="buy-15">Cómpralo</button>
			</div>
			
		<div class="content">
				<a href="../views/productoUnitario.html?id_producto=16">
				<img src="../img/boardgames/dixit00.jpg">
				</a>
				<h3>Dixit</h3>
				<p> Juego de mesa de narración y deducción </p>
				<h6>29.99€</h6>
				<ul>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
				</ul>
				<button class="buy-16">Cómpralo</button>
			</div>
			
		<div class="content">
				<a href="../views/productoUnitario.html?id_producto=17">
				<img src="../img/boardgames/math00.jpg">
				</a>
				<h3>Math Bingo</h3>
				<p> Juego de mesa que ayuda a practicar las habilidades matemáticas </p>
				<h6>19.99€</h6>
				<ul>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star"></i></li>
				</ul>
				<button class="buy-17">Cómpralo</button>
			</div>
			
		<div class="content">
				<a href="../views/productoUnitario.html?id_producto=18">
				<img src="../img/boardgames/scrabblejunior00.jpg">
				</a>
				<h3>Scrabble Junior</h3>
				<p> Versión simplificada del clásico juego de Scrabble para niños </p>
				<h6>21.50€</h6>
				<ul>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
				</ul>
				<button class="buy-18">Cómpralo</button>
			</div>
			
		<div class="content">
				<a href="../views/productoUnitario.html?id_producto=19">
				<img src="../img/boardgames/unogranja00.jpg">
				</a>
				<h3>Uno Moo!</h3>
				<p>Versión adaptada del famoso juego de cartas "Uno" pero para niños</p>
				<h6>16.75€</h6>
				<ul>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
				</ul>
				<button class="buy-19">Cómpralo</button>
			</div>
			
		<div class="content">
				<a href="../views/productoUnitario.html?id_producto=20">
				<img src="../img/boardgames/rush00.jpg">
				</a>
				<h3>Rush Hour Junior</h3>
				<p> Juego de mesa de rompecabezas para niños que enseña conceptos de lógica </p>
				<h6>29.99€</h6>
				<ul>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star"></i></li>
				</ul>
				<button class="buy-20">Cómpralo</button>
			</div>
			
			
			<div class="content">
				<a href="../views/productoUnitario.html?id_producto=24">
				<img src="../img/boardgames/dice00.jpg">
				</a>
				<h3>Dice Forge</h3>
				<p> Juego de desarrollo que presenta innovadoras mecánicas basadas en dados con caras intercambiables </p>
				<h6>35.99€</h6>
				<ul>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
					<li><i class="fa fa-star checked"></i></li>
				</ul>
				<button class="buy-24">Cómpralo</button>
			</div>
			
	</div>
	
	</body>
</html>